body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
}

button {
	border: none;
	color: white;
	font-size: 16px;
	font-weight: bolder;
}

/* ----------- the "vertical" layers ----------- */
.layer:nth-child(even) {
    background-color: #f0f2f3;
}
.layer:nth-child(odd) {
    background-color: white;
}

/* media queries for .layer */
@media (max-width: 600px) {
	.layer {
    	padding: 0 48px;
	}
}

@media (min-width: 600px) {
	.layer {
    	padding: 0 52px;
	}
}

@media (min-width: 768px) {
	.layer {
    	padding: 0 88px;
	}
}

@media (min-width: 992px) {
	.layer {
    	padding: 0 164px;
	}
}

@media (min-width: 1200px) {
	.layer {
    	padding: 0 200px;
	}
}

/* ----------- flexbox container within each necessary layer ----------- */
.flex {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* ================================== HEADER ================================== */

.header.layer {
	background-color: #3d4852;
	padding: 12px 64px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: white;
	font-size: 24px;
	font-weight: bolder;

	display: flex;
	align-items: center;
}

.nav {
	color: white;
}


/* ================================== SPLASH ================================== */

/* ----------- the big splash image ----------- */
.splash.layer {
	background-image: url("media/hero.png");
	background-repeat: no-repeat;
	background-position: 70% 40%;

	display: flex;
	align-items: center;
}

/* media queries for .splash.layer */
@media (max-width: 600px) {
	.splash.layer {
		height: 40vh;
		background-size: 440%;
	}
}

@media (min-width: 600px) {
	.splash.layer {
		height: 50vh;
		background-size: 400%;
	}
}

@media (min-width: 768px) {
	.splash.layer {
		height: 60vh;
		background-size: 360%;
	}
}

@media (min-width: 992px) {
	.splash.layer {
		height: 70vh;
		background-size: 250%;
	}
}

@media (min-width: 1200px) {
	.splash.layer {
		height: 70vh;
		background-size: 180%;
	}
}

/* ----------- container for text on top of splash image ----------- */
/* media queries for .splash .title */
@media (max-width: 600px) {
	.splash .title {
    	width: 80%;
	}
}

@media (min-width: 600px) {
	.splash .title {
    	width: 75%;
	}
}

@media (min-width: 768px) {
	.splash .title {
    	width: 60%;
	}
}

/* ----------- text on top of splash image ----------- */
.splash .title h1 {
	color: #3d4852;
}

/* media queries for .splash .title h1 */
@media (max-width: 600px) {
	.splash .title h1 {
    	font-size: 32px;
	}
}

@media (min-width: 600px) {
	.splash .title h1 {
    	font-size: 36px;
	}
}

@media (min-width: 768px) {
	.splash .title h1 {
    	font-size: 48px;
	}
}

@media (min-width: 992px) {
	.splash .title h1 {
    	font-size: 54px;
	}
}

.splash button {
	padding: 16px 55px;
	background-color: #28c278;
}

/* ================================== DREAM ================================== */

.dream.layer {
	border-top: 1px solid #f0f2f3;
	padding-top: 24px;
	padding-bottom: 24px;
}

/* media queries for .dream.layer */
@media (max-width: 600px) {
	.dream.layer {
		padding-bottom: 44px;
	}
}

@media (min-width: 600px) {
	.dream.layer {
		padding-bottom: 44px;
	}
}

@media (min-width: 768px) {
	.dream.layer {
		padding-bottom: 24px;
	}
}

/* ----------- car feature input containers ----------- */
.dream .feature {
	height: 45px;
	box-sizing: border-box;
	padding: 0 10px;
}

/* media queries for .dream .feature */
@media (max-width: 600px) {
	.dream .feature {
		width: 100%;
	}

	.dream .feature:last-child {
		padding-top: 20px;
	}
}

@media (min-width: 600px) {
	.dream .feature {
		width: 33.33%;
	}

	.dream .feature:last-child {
		padding-top: 20px;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.dream .feature {
		width: 25%;
	}

	.dream .feature:last-child {
		padding-top: 0px;
		width: 25%;
	}
}

/* ----------- car feature inputs ----------- */
.dream .feature select,
.dream .feature button {
	width: 100%;
}

.dream .feature {
	position: relative;
}

.dream .feature span {
	position: absolute;
	left: 2px;
}

.dream .feature select {
	box-sizing: border-box;
	font-size: 16px;
	color: #9aa0a5;
	font-family: "Helvetica", sans-serif;
	font-weight: bolder;
	padding: 12px 16px;
	border: 2px solid #cdd1d4;

	/* trying to hide arrow... */
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;


    /* painfully redrawing "arrow" */ 
    background-image:
		linear-gradient(45deg, transparent 50%, white 50%),
		linear-gradient(135deg, white 50%, transparent 50%),
		linear-gradient(45deg, transparent 50%, #cdd1d4 50%),
		linear-gradient(135deg, #cdd1d4 50%, transparent 50%);
	background-position:
		calc(100% - 21px) calc(1em - 0px),
		calc(100% - 16px) calc(1em - 0px),
		calc(100% - 21px) calc(1em + 2px),
		calc(100% - 16px) calc(1em + 2px);
	background-size:
		6px 6px,
		6px 6px,
		6px 6px,
		6px 6px;
	background-repeat: no-repeat;
}

.dream .feature button {
	padding: 12px 55px;
	background-color: #f07e5e;
	border: 2px solid #f07e5e;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* ================================== BRAND ================================== */

/* ----------- reverse the direction of content for every other car brand (so that pictures always appear BELOW text) ----------- */
/* media queries for .brand.layer */
@media (max-width: 600px) {
	.brand.layer:nth-child(odd) {
		flex-wrap: wrap-reverse;
	}
}

@media (min-width: 600px) {
	.brand.layer:nth-child(odd) {
		flex-wrap: wrap-reverse;
	}
}

@media (min-width: 768px) {
	.brand.layer:nth-child(odd) {
		flex-wrap: wrap;
	}
}

/* ----------- text description of each brand ----------- */
.brand .description {
	box-sizing: border-box;
	padding: 40px 10px;
}

/* media queries for .brand .description */
@media (max-width: 600px) {
	.brand .description {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.brand .description {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.brand .description {
		width: 50%;
	}

	/* padding on right for layers that have text first */
	.brand:nth-child(even) .description {
		padding-right: 55px;
	}

	/* padding on left for layers that have text after pictures */
	.brand:nth-child(odd) .description {
		padding-left: 55px;
	}
}

.brand .description h2,
.brand .description p {
	color: #3d4852;
}

.brand .description h2 {
	margin-top: 0px;
	font-size: 30px;
}

.brand .description p {
	font-size: 16px;
	line-height: 30px;
}

.brand button {
	padding: 12px 32px;
	background-color: #4fc4e6;
}

/* ----------- car pictures container ----------- */
.brand .image {
	display: inline-block;
	box-sizing: border-box;
	padding: 40px 10px;
	overflow: hidden;
}

/* media queries for .brand .image */
@media (max-width: 600px) {
	.brand .image {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.brand .image {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.brand .image {
		width: 25%;
	}
}

/* ----------- car pictures wrapper to help with image fitting inside nicely ----------- */
.brand .image .wrapper {
	width: 100%;
	overflow: hidden;
}

/* ----------- actual car picture ----------- */
.brand .image img {
	width: 100%;
}

/* ================================== FOOTER ================================== */

.footer.layer {
	background-color: #3d4852;
	padding: 24px 64px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copyright {
	color: lightgrey;
}