body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
}

/* ----------- the "vertical" layers ----------- */
.layer:nth-child(even) {
    background-color: lightgrey;
}
.layer:nth-child(odd) {
    background-color: white;
}

/* media queries for .layer */
@media (max-width: 600px) {
	.layer {
    	padding: 0 48px;
	}
}

@media (min-width: 600px) {
	.layer {
    	padding: 0 52px;
	}
}

@media (min-width: 768px) {
	.layer {
    	padding: 0 88px;
	}
}

@media (min-width: 992px) {
	.layer {
    	padding: 0 164px;
	}
}

@media (min-width: 1200px) {
	.layer {
    	padding: 0 200px;
	}
}

/* ----------- flexbox container within each necessary layer ----------- */
.flex {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* ================================== HEADER ================================== */

.header.layer {
	height: 20px;
	background-color: grey;
}

/* ================================== SPLASH ================================== */

/* ----------- the big splash image ----------- */
.splash.layer {
	background-image: url("media/hero.png");
	background-repeat: no-repeat;
	background-position: 70% 40%;

	display: flex;
	align-items: center;
}

/* media queries for .splash.layer */
@media (max-width: 600px) {
	.splash.layer {
		height: 40vh;
		background-size: 440%;
	}
}

@media (min-width: 600px) {
	.splash.layer {
		height: 50vh;
		background-size: 400%;
	}
}

@media (min-width: 768px) {
	.splash.layer {
		height: 60vh;
		background-size: 360%;
	}
}

@media (min-width: 992px) {
	.splash.layer {
		height: 70vh;
		background-size: 250%;
	}
}

@media (min-width: 1200px) {
	.splash.layer {
		height: 70vh;
		background-size: 180%;
	}
}

/* ----------- container for text on top of splash image ----------- */
/* media queries for .splash .title */
@media (max-width: 600px) {
	.splash .title {
    	width: 80%;
	}
}

@media (min-width: 600px) {
	.splash .title {
    	width: 75%;
	}
}

@media (min-width: 768px) {
	.splash .title {
    	width: 60%;
	}
}

/* ----------- text on top of splash image ----------- */
.splash .title h1 {
	color: grey;
}

/* media queries for .splash .title h1 */
@media (max-width: 600px) {
	.splash .title h1 {
    	font-size: 32px;
	}
}

@media (min-width: 600px) {
	.splash .title h1 {
    	font-size: 36px;
	}
}

@media (min-width: 768px) {
	.splash .title h1 {
    	font-size: 48px;
	}
}

@media (min-width: 992px) {
	.splash .title h1 {
    	font-size: 54px;
	}
}

/* ================================== DREAM ================================== */

.dream.layer {
	border-top: 1px solid grey;
}

/* ----------- car feature input containers ----------- */
.dream .feature {
	height: 45px;
	padding: 10px;
	box-sizing: border-box;
}

/* media queries for .dream .feature */
@media (max-width: 600px) {
	.dream .feature {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.dream .feature {
		width: 33%;
	}
}

@media (min-width: 768px) {
	.dream .feature {
		width: 25%;
	}
}

/* ----------- car feature inputs ----------- */
.dream .feature select,
.dream .feature button {
	width: 100%;
}

/* ================================== BRAND ================================== */

/* ----------- reverse the direction of content for every other car brand (so that pictures always appear BELOW text) ----------- */
/* media queries for .brand.layer */
@media (max-width: 600px) {
	.brand.layer:nth-child(odd) {
		flex-wrap: wrap-reverse;
	}
}

@media (min-width: 600px) {
	.brand.layer:nth-child(odd) {
		flex-wrap: wrap-reverse;
	}
}

@media (min-width: 768px) {
	.brand.layer:nth-child(odd) {
		flex-wrap: wrap;
	}
}

/* ----------- text description of each brand ----------- */
.brand .description {
	box-sizing: border-box;
}

/* media queries for .brand .description */
@media (max-width: 600px) {
	.brand .description {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.brand .description {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.brand .description {
		width: 50%;
	}
}

/* ----------- car pictures container ----------- */
.brand .image {
	padding: 30px 10px;
	box-sizing: border-box;
	overflow: hidden;
	display: inline-block;
}

/* media queries for .brand .image */
@media (max-width: 600px) {
	.brand .image {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.brand .image {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.brand .image {
		width: 25%;
	}
}

/* ----------- car pictures wrapper to help with image fitting inside nicely ----------- */
.brand .image .wrapper {
	width: 100%;
	overflow: hidden;
}

/* ----------- actual car picture ----------- */
.brand .image img {
	width: 100%;
}

/* ================================== FOOTER ================================== */

.footer.layer {
	height: 50px;
	background-color: grey;
}